.navbar-brand#publications {
  border-bottom: 2px solid #fff;
}

header {
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

ul {
  padding-left: 10px;
  padding-right: 10px;
}

ol {
  padding-left:20px;
  padding-right: 10px;
}

li {
  padding-bottom: 10px;
}

footer {
  padding-top: 150px;
}