* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #fff;
}

.navbar-default {
  background-color: #acd38c;
  border-color: #acd38c;
  margin-bottom: 0px;
  font-weight: bold;
}

.navbar-default a {
  color: white;
  text-decoration: none;
}

.navbar-brand {
  margin-left: 10px;
  margin-right: 10px;
}

#language {
  color: #5a5a5a;
  margin-top: 60px;
  text-align: right;
}

#language a {
  color: #5a5a5a;
  text-decoration: none;
}
