.navbar-brand#name {
  border-bottom: 2px solid #fff;
}

body {
  text-align: center;
}

#profile h1 {
  color: #5a5a5a;
  font-weight: bold;
}

#profile img {
  width: 260px;
  height: auto;
  vertical-align: middle;
  border: 10px solid #eee;
  border-radius: 130px;
}

#profile .col-md-4 {
  margin-top: 35px;
}

.fa-stack.fa-xl {
  padding-top: 10px;
  color: #5a5a5a;
}
.fa-stack:hover {
  color: #42a5f5;
}

footer {
  padding-top: 150px;
}